- var username = "star-collector";
- var email = "baharev_pavel@mail.ru";
- var yandex = "https://money.yandex.ru/to/410015178597784";
- var paypal = "https://www.paypal.me/starcollector";

doctype html
html
    head
        title #{username}.github.io
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="icon" href="/src/img/icon.png")
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    body
        div(class="container")
            div(id="particles-js")
            div(class="floating-label donate-label") Do you like my projects or just want to support a starving developer? :) Click here!
            div(class="donation-links hidden")
                a(href=yandex, target="_blank")
                    div(class="floating-label yandex")
                        img(src="/src/img/yandexmoney.png", width="32", height="32")
                        div Yandex Money
                a(href=paypal, target="_blank")
                    div(class="floating-label paypal")
                        img(src="/src/img/paypal.png", width="32", height="32")
                        div PayPal
            a(href="https://github.com/" + username, target="_blank")
                div(class="floating-label github-label")
                    span(class="fa fa-lg fa-github")
                    | GitHub
            a(href="mailto:" + email, title=email)
                div(class="floating-label email-label")
                    span(class="fa fa-lg fa-envelope")
                    | #{email}
            div(class="info")
                div(class="info-image")
                    a(href="https://github.com/" + username, target="_blank")
                        img(src="https://avatars.githubusercontent.com/" + username)
                h2 Pavel Bakharev
                h3 Full Stack developer
        script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")